body {
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    line-height: 1.6;
    background-color: rgb(205, 158, 18);
    text-align: center;
    font-size: 20; /* Increase the base font size */
    font-weight: bold; /* Make the base font weight bold */
}

h1 {
    margin-bottom: 30px;
    background-color: rgb(81, 171, 174);
    text-align: center;
    font-size: 20; /* Increase the heading font size */
}

.navbar {
    margin-bottom: 30px;
    background-color: aqua;
}

.navbar-nav .nav-item .nav-link {
    font-size: 20; /* Increase the font size of the navigation links */
    font-weight: bold; /* Make the navigation links bold */
}

.menu {
    margin: 20px 0;
}

.menu a {
    margin: 0 15px; /* Add spacing between menu items */
    font-size: 1.25rem; /* Increase the font size of the menu links */
    font-weight: bold; /* Make the menu links bold */
    text-decoration: none; /* Remove underline from menu links */
    color: #000; /* Set the color of the menu links */
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.bg-light {
    background-color: #1369c4 !important;
}

.container.text-center {
    max-width: 800px;
    margin: 0 auto;
}

.container .row {
    justify-content: center;
}
