body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
    background-color: beige;
}

.navbar {
    margin-bottom: 20px;
    
    
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.bg-light {
    background-color: #79bc2b !important;
}
